
body {
  background: #0147A7;
  color: #fff;
}

h1 {
  text-decoration: underline;
  text-transform: uppercase;
}

.userTag {
  border: 2px solid grey;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.userTag img {
  margin: 0 auto;
}

input {
  display: none;
}

.sortBy {
  margin-bottom: 20px;
}